// --------------- Mixin - Header
@mixin my-btn-cta ($btn-cta-color) {
  padding: 10px;
  border-radius: 5px;
  background-color: $btn-cta-color;
  color: darken($color: #5b70aa, $amount: 30%);

  &:hover {
    background-color: white;
    border: 1px solid $btn-cta-color;
  }
}


// Test
.btn-cta.test {
  @include my-btn-cta(red);
}



// --------------- Mixin - Main
@mixin my-info-box {
  width: 85%;
  margin: auto;
  display: flex;
  padding: $info_box_padding; 
}



// --------------- Mixin - Link
@mixin my-learn-link($secondary_color) {
  color: $secondary_color;
  text-decoration: none;
}
